@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:ital,wght@0,500;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid blue; */
}

a{
    color: #000;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #efeefe;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 30px 0;
    margin: 0 0 20px 0;
    width: 100vw;
    box-shadow: 0px 2px 7px #000;
}

.logo{
    background: #000;
    border-radius: 50px;
    margin: 10px 50px;
}

.logo img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.links{
    max-width: 350px;
    margin-right: 20px;
    color: #fff;
}

.links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links li{
    margin: 0 10px 0 0;
    list-style-type: none;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 70px 0;
}

.hero-text{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    max-width: 400px;
    margin: 0 0 0 25px;
}

.hero-text h1{
    font-size: clamp(30px, 2rem, 40px);
    text-align: center;
    margin-bottom: 33px;
}

.hero-img{
    margin: 0 5px 0 5px;
    border-radius: 20px;
    box-shadow: -19px 26px 12px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -19px 26px 12px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px 26px 12px -13px rgba(0,0,0,0.75);
}

.hero-img img{
    width: 380px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: -19px 26px 12px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -19px 26px 12px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px 26px 12px -13px rgba(0,0,0,0.75);
}

.hr{
    margin: 40px 0;
    width: 60px;
    height: 3px;
    background-color: #d3d3d3;
}


.btn{
    padding: 7px 20px;
    border: none;
    border-radius: 12px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 3px 3px 5px #000;
}

.btn:hover{
    transform: scale(.9);
}

.about{
    display: flex;
    margin: 0 0 70px 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0 50px 0;
    background-color: #e4e4ee;
}

.about-img{
    margin-bottom: 20px;
}

.about-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    backdrop-filter: brightness(100%);
    filter: drop-shadow(40%);
}

.about-info{
    width: clamp(300px, 7rem, 400px);
}